.benefits {
}

.benefits__item {

}



.benefits__bg {
    background-color: #f5f4fa;
    border-radius: 4px;
}

.benefits__icon {
    width: 70px;
    height: 70px;
}

.benefits__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-text-color;
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
}