.clients {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-decoration: none;
    list-style-type: none;
    @include desktop {
        flex-wrap: nowrap;
        gap: 0;
    }
}

.clients__item {
    flex-basis: calc((100% - 30px) / 2);
    @include tablet {
        flex-basis: calc((100% - 60px) / 3);
    }
    @include desktop {
    & + & {
        margin-left: 30px;
    }
    }
}

.clients__link {
    display: flex;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    align-items: center;
    justify-content: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border-color: $accent-color;
    }
}

.clients__icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients__link:hover > & {
        fill: $accent-color;
        }
    .clients__link:focus > & {
        fill: $accent-color;
        }
}