.footer-container {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-block {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        }
    @include desktop {
        flex-wrap: nowrap;
    }

    
}
.tablet-container {
    width: 100%;
    @include tablet {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    @include desktop {
        justify-content: left;
    }

}