.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $title-text-color;
    font-family: $raleway;
    margin-right: 93px;
}

.logo__accent {
    color: $accent-color;
}